body {
	padding: 0;
	margin:0;
	font-family: 'Segoe UI', Helvetica, sans-serif;
}

/* SIDEBAR */
#sidebar {
	background-color: #051e34;
	width: 260px;
	height: 100vh;
	position: fixed;
}
#sidebar .sidebar-logo {
	border-bottom: 1px solid #2a4865;
	text-align: center;
}
#sidebar .sidebar-logo a {
	display: block;
	padding: 10px 25px;
	color: #fff;
	text-decoration: none;
}
#sidebar .sidebar-logo img {
	width: 20px;
	display: inline-block;
	margin-right: 10px;
	margin-top: -10px;
}
#sidebar .sidebar-logo span {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

/* develop */
#sidebar .develop {
	border-bottom: 1px solid #2a4865;
	color: #b4bcc2;
	padding: 15px 25px;
}
#sidebar .develop ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 15px;
}
#sidebar .develop ul li {
	padding: 10px 0;
}
#sidebar .develop ul li a {
	padding: 10px 25px;
	display: block;
	color: #b4bcc2;
	font-weight: 600;
	border-radius: 25px;
	font-size: 18px;
	border: 1px solid #4cb5f6;
}
#sidebar .develop ul li i {
	margin-right: 12px;
}
#sidebar .develop ul li:hover a {
	color: #051e34;
	text-decoration: none;
	background-color: #4cb5f6;
}

/* DASHBAORD */
#dashboard {
	background-color: #cfcfcf;
	margin-left: 260px;
	height: 100%;
}
#dashboard #midsection {
	border-right: 1px solid #ccc;
	min-height: 100vh;
	background-color: #cfcfcf;
	margin-bottom: 40px;
}
#dashboard #midsection a {
	color: #444;
	text-decoration: none;
}

/* PAGEBAR */
#dashboard #midsection .pagebar {
	padding: 9px 15px;
	border-bottom: 1px solid #ccc;
	background: #fff;
}
#dashboard #midsection a h1 {
	color:#1b3a57;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

/* TWEET */
#dashboard #midsection .tweet {
	border-bottom: 1px solid #ccc;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	min-height: 120px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #fff;
	margin-bottom: 15px;
}
#dashboard #midsection .tweet .tweet_img {
	width: 60px;
}
#dashboard #midsection .tweet .tweet_img img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: left;
}
#dashboard #midsection .tweet .tweet_box {
	width: calc(100% - 60px);
}
#dashboard #midsection .tweet .tweet_box textarea {
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding-left: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	resize: none;
}
#dashboard #midsection .tweet .tweet_box button {
	background:#4cb5f6;
	border: 1px solid #4cb5f6;
	box-shadow: none;
	border-radius: 25px; 
	width: 120px;
	float: right;
}

/* POST */
#dashboard #midsection .post {
	border-bottom: 1px solid #ccc;
	min-height: 120px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px;
	margin-bottom: 5px;
	justify-content: space-around;
	background: #fff;
}
#dashboard #midsection .posts {
	border-radius: 10px;
	background-color: red;
}
#dashboard #midsection .post .post_img {
	width: 60px;
}
#dashboard #midsection .post .post_img img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: left;
}
#dashboard #midsection .post .post_box {
	width: calc(100% - 60px);
	padding: 0 15px;
}
#dashboard #midsection .post .post_box .post_body h4 {
	font-size: 18px;
	font-weight: bold;
}
#dashboard #midsection .post .post_box .post_body span {
	font-weight: 300;
	font-size: 14px;
}
#dashboard #midsection .post .post_box .post_body p {
	font-size: 16px;
	line-height: normal;
}
#dashboard #midsection .post .post_box button {
	background:transparent;
	border: transparent;
	box-shadow: none;
	display: inline;
	border-radius: 25px; 
	border: 1px solid #ccc;
	height: 35px;
	width: 35px;
	padding: 20px auto;
	border-radius: 50%;
	text-align: center;
}
#dashboard #midsection .post .post_box button i {
	display: block;
	text-align: center;
	font-size: 12px;
}
#dashboard #midsection .post .post_box button:focus {
	box-shadow: none;
	outline: none;
	border: 1px solid #4cb5f6;
}
#dashboard #midsection .post .post_box button:hover i {
	color: #4cb5f6;
}
#dashboard #midsection .post .post_box button[value="liked"]{
	background: #4cb5f6;
	color: #fff;
}
#dashboard #midsection .post .post_box button[value="liked"]:focus i,
#dashboard #midsection .post .post_box button[value="liked"]:hover i {
	color: #fff;
}
#dashboard #midsection .post .post_box span {
	font-size: 11px;
	display: inline-block;
	margin-left: 7px;
}

/* RIGHT SECTION */
#dashboard #rightsection {
	padding: 10px 0;
	background-color: #cfcfcf;
	margin-bottom: 40px;
}

/* RIGHT SECTION // SUGGESTBOX */
#dashboard #rightsection .suggestbox {
	margin-top: 10px;
	border-radius: 10px;
	border-bottom: 1px solid #ccc;
	background: #f5f8fa;
}
#dashboard #rightsection .suggestbox h1 {
	color:#1b3a57;
	padding: 9px 15px;
	font-size: 20px;
	margin-bottom: 0;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}
#dashboard #rightsection .box {
	border-bottom: 1px solid #ccc;
	min-height: 20px;
	padding: 6px 10px 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius:0; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #fff;
}
#dashboard #rightsection .box:last-child {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#dashboard #rightsection .box .box_img {
	width: 50px;
}
#dashboard #rightsection .box .box_img img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: left;
}
#dashboard #rightsection .box .box_body {
	width: calc(100% - 50px);
	padding: 0 10px;
}
#dashboard #rightsection .box .box_body h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 2px;
}
#dashboard #rightsection .box .box_body p {
	font-size: 14px;
	line-height: normal;
}
#dashboard #rightsection .box .box_body button {
	float: right;
	border-radius: 25px;
	border: 1px solid #1da1f2;
	background-color: transparent;
	color: #1da1f2;
	margin-top: 5px;
	padding: 4px 18px;
	font-size: 14px;
	font-weight: bold;
	box-shadow: none;
	line-height: normal;
}
#dashboard #rightsection .box .box_body button:hover {
	background-color: #1da1f2;
	color: #fff;
}

/* RIGHT SECTION // CHATS */
#dashboard #rightsection .chat {
	margin-top: 10px;
	border-radius: 10px;
	height: 60vh;
	background-color: #f5f8fa;
}
#dashboard #rightsection .chat h1 {
	color:#1b3a57;
	padding: 9px 15px;
	font-size: 20px;
	margin-bottom: 0;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}
#dashboard #rightsection .chat a {
	text-decoration: none;
	color: #212529;
}
#dashboard #rightsection .chat .reduced {
	height: 43px;
}
#dashboard #rightsection .chat p {
	margin-top: 3px;
}





/* MEDIA QUERY */
@media (max-width: 768px){
	#sidebar .sidebar-logo span {
		display: none;
	}
	#sidebar {
		width: 80px;
	}
	#sidebar .develop {
		padding: 0px 8px;
	}
	#sidebar .develop ul li a {
		padding: 10px 2px;
		text-align: center;
		margin-right: 3px;
	}
	#sidebar .develop ul li i {
		margin-right: 0;
		text-align: center;
		font-size: 20px;
	}
	#sidebar .develop ul li a span {
		display: none;
	}
	#dashboard {
		margin-left: 80px;
	}
}

/* LOGIN SIGNUP AND RESET PASSWORD FORMS */
.logo {
	text-align: center;
	margin: 30px auto;
	width: 30px;
	display: block;
}
.form_box {
	background: #f0f0f0; 
	color: #251f68; 
	padding: 20px; 
	border: 1px solid #aaa;
	text-align: left;
	border-radius: 6px;
	max-width: 450px;
	margin: 0 auto;
}
.form_box .form-group {
	margin: 10px 0;
} 
.form_box h3 {
	font-size: 20px; 
	font-weight: bold; 
	margin-bottom: 20px;
	text-align: center;
	border-bottom: 1px solid #aaa;
	padding-bottom: 25px;
}
.form_box p a {
	font-size: 16px; 
	line-height: 26px; 
	font-weight: 400; 
	color: #251f68;
	text-align: center;
	display: inline-block; 
	margin-bottom: 20px;
}
.form_box label {
	font-weight: bold;
}
.form_box input {
	border: none;
	background: transparent;
	border-radius: 0;
	padding-left: 0;
	border-bottom: 1px solid #666;
}
.form_box input:focus {
	border: none;
	background: transparent;
	border-radius: 0;
	padding-left: 0;
	box-shadow: none;
	outline: none;
	border-bottom: 1px solid #251f68;
}
.form_box button {
	padding: 6px 15px; 
	text-align: center; 
	background: #251f68;
	display: inline-block; 
	min-width: 160px; 
	color: #fff; 
	border-radius: 25px; 
	border: 1px solid #251f68; 
	text-decoration: none; 
	transition: 0.4s all; 
	margin-top: 20px;
	font-weight: 500; 
	letter-spacing: 2px; 
	font-variant-caps: all-small-caps;
}
.form_box button:hover {
	background: #575ff2; 
	color: #fff;
	border: 1px solid #575ff2;
}
.form_box .form-control:focus {
	outline: none;
	box-shadow: none;
}
.text-danger {
	color: #dc3545;
	font-size: 11px;
	font-weight: bold;
}
.text-success {
	color: #093;
	font-size: 11px;
	font-weight: bold;
}
@media(max-width: 768px){
	.form_box {
		padding-bottom: 10px;
		margin-bottom: 40px;
	}
}


